:root, :root.light {
    --text-color: #444450;
    --background: #FFFEF7;
    --accent1: #F96E46;
    --accent2: #9E8FB2;
    --accent3: #D3EFBD;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #ddd;
        --background: #222;
    }
}

:root.dark {
    --text-color: #ddd;
    --background: #222;
}

.not-footer {
    min-height: calc(100vh - 4em);
}

header {
    top: 0px;
    text-align: center;
}

a.svg {
    position: relative;
    display: inline-block;
}
a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}
object.logo {
    max-width: fit-content;
}
.byline {
    margin-top: -1.5em;
    margin-left: 12%;
    text-align: left;
}

nav {
    display: block;
    text-align: center;
}

.footer {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}

.markdeep-footer {
    display: block;
    float: left;
    text-align: left;
    font-size: 60%;
}

.contact-footer {
    display: block;
    float: right;
    text-align: right;
}

a.nav-link {
    min-width: 30%;
    display: inline-block;
}
a:link, a.nav-link:visited {
    color: var(--accent1);
}
a.nav-link:hover {
    color: var(--accent2);
}
a:visited {
    color: var(--accent2)
}
a.footer-link {
    min-width: 0%;
}

hr.nav-line {
    border: 0.2px solid;
    border-color: var(--text-color);
    background-color: var(--text-color);
    border-radius: 1px;
}

body {
    max-width: 600px;
    margin: 0px auto;
    padding: 0 10px;
    color: var(--text-color);
    background: var(--background);
    font-family: "Source Serif Pro", serif;
    font-size: 12pt;
}


.md h1,
.md h2,
.md h3 {
    line-height: 1.3;
    font-family: "Source Serif Pro";
}

.md p {
    text-align: justify;
    line-height: 1.35;
}

.md a:visited {
    color: #266780;
}